@model List<CustomerViewModel>;

@{
    ViewData["Title"] = "Clientes";
}

<style>
    th, td {
        text-align: center;
    }

    i {
        color: black;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="container">
    <div class="card">
        <div class="card-header">
            <div>
                <strong>CLIENTES</strong>
                <a class="float-end" asp-action="Add">Agregar</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Préstamos activos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            <td>@customer.PhoneNumber</td>
                            <td>@customer.Address</td>
                            <td>
                                <a href="#">@customer.LoansCount</a>
                            </td>
                            <td>
                                <a href="#"><i class="bi bi-cash-coin" title="Nuevo préstamo"></i></a>
                                <a href="#"><i class="bi bi-pen-fill" title="Editar"></i></a>
                                <form asp-action="Delete" asp-route-id="@customer.Id" style="display: inline-block;">
                                    <button type="submit" style="padding: 0; border: 0; background-color: transparent;"><i class="bi bi-trash-fill text-danger" title="Eliminar"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>